*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    padding: 40px ;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        li{
            list-style: none;
            font-size: 24px;
            color:#000;
            margin-left: 40px;
        }
    }
}

p{
    color:aqua
}